absl-py==2.2.2
Brotli==1.0.9
certifi==2025.1.31
charset-normalizer==3.3.2
einops==0.8.1
emoji==2.11.1
filelock==3.17.0
fvcore==0.1.5.post20221221
gmpy2==2.2.1
highdicom==0.22.0
idna==3.7
iopath==0.1.10
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml_collections==1.0.0
mpmath==1.3.0
networkx==3.4.2
numpy==1.24.3
pandas==2.2.3
pillow==11.1.0
pillow-jpls==1.3.2
pip==25.0
portalocker==3.2.0
pydicom==2.4.4
pyfiglet==1.0.2
Pygments==2.18.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.8.0
six==1.17.0
sympy==1.13.3
tabulate==0.9.0
termcolor==3.1.0
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tqdm==4.67.1
triton==2.2.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
wheel==0.45.1
yacs==0.1.8
